@font-face {
    font-family: 'Ermilow';
    src: url('../media/fonts/Ermilow/Ermilov-bold.otf');
}

@font-face {
    font-family: 'Work-Sans-400';
    src: url('../media/fonts/Work_Sans/WorkSans-Regular.ttf');
}

@font-face {
    font-family: 'Work-Sans-500';
    src: url('../media/fonts/Work_Sans/WorkSans-Medium.ttf');
}

@font-face {
    font-family: 'Work-Sans-900';
    src: url('../media/fonts/Work_Sans/WorkSans-Black.ttf');
}

@font-face {
    font-family: 'Jolly-Lodger-Cyrillic';
    src: url('../media/fonts/Jolly_Lodger_Cyrillic/jollylodgercyrillic.otf');
}