@import 'variables';

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    color: $main-font-color;
}

body {
    background-color: $theme-color;
}

.container {
    max-width: 1240px;
    margin: auto;
}

.df {
    display: flex;
    text-decoration: none;
}