@import '../../styles/variables';

.btn {
    a {
        font-family: $bold-font;
    font-size: $main-font-size;
    color: $secondary-font-color;
    }
    font-family: $bold-font;
    font-size: $main-font-size;
    color: $secondary-font-color;
}