@import '../../../../styles/variables';

.link {
    font-family: $reg-font;
    font-size: $main-font-size;
    text-decoration: none;

    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;

    &:hover {
        color: $base-color;
    }

    &.active {
        color: $base-color;
    }
}