@import '../../styles/variables';

.page {
    position: relative;

    h1 {
        font-family: $base-font;
        font-size: $title-font-size;

        max-width: 684px;

        span {
            display: inline-block;
            background-color: $secondary-color;
        }
    }

    .definition {
        display: flex;

        p {
            font-family: $reg-font;
            font-size: $main-font-size;
            color: $secondary-font-color;

            max-width: 385px;
        }

        a {
            display: flex;

            button {
                display: flex;
                align-items: center;
                padding: 21px 50px;
                cursor: pointer;

                font-family: $reg-font;
                font-size: $med-font-size;
                font-weight: $reg-weight;
                text-align: center;
            }
        }
    }

    .about {

        .section_title {
            font-family: $base-font;
            font-size: $med-font-size;

            span {
                color: $secondary-color;
            }
        }

        .effects {
            display: flex;

            .effect {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 33.33%;

                text-align: left;

                .title {
                    align-self: flex-start;
                    font-family: $reg-font;
                    font-weight: $reg-weight;
                }

                .number {
                    align-self: flex-start;
                    font-family: $reg-font;
                    font-weight: $reg-weight;
                    font-size: $med-font-size;
                    color: $dark-main-font-color;
                }
            }
        }
    }

    .faq {
        padding: 20px;

        &_title {
            font-family: $base-font;
            font-size: $title-font-size;

            span {
                color: $base-color;
            }
        }
    }

    .questions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & > div {

            &:first-child {
                width: 100%;
            }
            &:nth-child(2) {
                width: 37.5%;
            }
            &:nth-child(3) {
                width: 47.5%;
            }
            &:nth-child(4) {
                width: 54.16%;
            }
            &:nth-child(5) {
                width: 33.33%;
            }
            &:nth-child(6) {
                width: 100%;
            }
            &:nth-child(7) {
                width: 47.5%;
            }
            &:last-child {
                width: 44.16%;
            }
        }
    }
}