@import '../../styles/variables';

.page {
    position: relative;

    h1 {
        font-family: $base-font;
        font-size: $title-font-size;

        max-width: 684px;

        span {
            display: inline-block;
            background-color: $secondary-color;
        }
    }

    .definition {
        display: flex;

        p {
            font-family: $reg-font;
            font-size: $main-font-size;
            color: $secondary-font-color;

            max-width: 385px;
        }

        a {
            display: flex;

            button {
                display: flex;
                align-items: center;
                padding: 21px 50px;
                cursor: pointer;

                font-family: $reg-font;
                font-size: $med-font-size;
                font-weight: $reg-weight;
                text-align: center;
            }
        }
    }

    .about {

        .section_title {
            font-family: $base-font;
            font-size: $med-font-size;

            span {
                color: $secondary-color;
            }
        }

        .effects {
            display: flex;

            .effect {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 33.33%;

                text-align: left;

                .title {
                    align-self: flex-start;
                    font-family: $reg-font;
                    font-weight: $reg-weight;
                }

                .number {
                    align-self: flex-start;
                    font-family: $reg-font;
                    font-weight: $reg-weight;
                    font-size: $med-font-size;
                    color: $dark-main-font-color;
                }
            }
        }
    }

    .faq {
        padding: 20px;

        &_title {
            font-family: $base-font;
            font-size: $title-font-size;

            span {
                color: $base-color;
            }
        }

        .question {
            margin-top: 200px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: transparent;
            box-shadow: none;
            border: 3px solid #30360D;
            border-radius: 0px;
            padding: 17px 33px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            -o-border-radius: 0px;

            &.isActive {
                background-color: $border-color;
                padding: 18px 33px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 20px;

                
            }

            &_line {
                display: flex;
                align-items: center;

                font-family: $bold-font;
                font-size: $title-font-size;
            }

            &_title {
                display: flex;
                align-items: center;

                font-family: $reg-font;
                font-size: $med-font-size;
            }

            &_main_text {
                display: none;
                font-family: $reg-font;
                color: $secondary-font-color;

                &.isActive {
                    display: block;
                }
            }
        }
    }
}