@import '../../styles/variables';

.product {
    position: relative;
    width: 27.78%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 3px solid $border-color;
    padding: 30px;

    img {
        margin: auto;
        width: 100%;
    }

    .title {
        width: 100%;
        margin-top: 23px;

        font-family: $base-font;
        font-size: $main-font-size;

        a {
            text-decoration: none;
        }
    }

    .title_info {
        width: 100%;
        margin-top: 5px;

        font-family: $reg-font;
        font-size: $main-min-font-size;
        font-weight: 100;
        color: $secondary-font-color;
    }

    .prices {
        display: flex;
        flex-direction: column;
        justify-content: end;

        .price_before_discount {
            font-family: $reg-font;
            font-weight: $black-weight;
            font-size: $main-font-size;
            color: $border-color;
            text-decoration-line: line-through;
            -moz-text-decoration-line: line-through;
        }
    
        .price {
            align-self: end;
    
            font-family: $reg-font;
            font-size: $main-font-size;
            color: $secondary-color;
        }
    }

    button {
        padding: 13px 31px;
        margin-top: 28px;

        font-family: $reg-font;
        font-size: $main-font-size;
    }

    .discount {
        position: absolute;
        top: -40px;
        right: -60px;
        transform: rotate(15deg);
        user-select: none;

        font-family: $base-font;
        font-size: 128px;
        color: $theme-color;
        -webkit-text-stroke: 3px $secondary-color;
    }
}