@import '../../styles/variables';

.container {

    .title {
        font-family: $base-font;
        font-size: $title-font-size;

        span {
            background-color: $secondary-color;
        }
    }

    .sort {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .category {
            font-family: $base-font;
            font-size: $med-font-size;

            span {
                color: $base-color;
                text-decoration: underline;

                cursor: pointer;
            }
        }

        .category_container {
            width: 100%;
        }

        .sorting_container {
            display: none;
            width: 100%;
        }
    }

    .products {
        display: flex;
        flex-wrap: wrap;

        .no_products {
            width: 100%;

            p {
                margin: 100px auto;

                font-family: $base-font;
                font-size: $title-font-size;
                text-align: center;
                color: $base-color;
            }
        }

        div {

            // horizontal margin
            &:nth-child(3n + 2) {
                margin: 0 8.33%;
            }

            // vertical margin
            &:nth-child(-n + 6) {
                margin-bottom: 52px;
            }

            // central element top margin
            &:nth-child(4) {
                margin-bottom: 86px;
            }

            &:nth-child(5) {
                margin-top: 34px;
            }

            &:nth-child(6) {
                margin-bottom: 86px;
            }
        }
    }

    .pagination {
        width: 100%;
    }
}