@import '../../../styles/variables';

.btn {
    font-family: $reg-font;
    font-size: $main-font-size;
    color: $secondary-font-color;
    text-decoration: none;

    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;

    &:hover {
        color: $main-font-color;
    }
}

.active {
    font-family: $reg-font;
    font-size: $med-font-size;
    font-weight: 900;
    color: $base-color;
    text-decoration: none;
}