@import '../../../styles/variables';

.container {
    position: fixed;
    z-index: 101;
    width: 100%;
    padding: 10vh 0;
    margin: 0 auto;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    top: 0;
    background: $theme-color;
    justify-content: space-evenly;
    overflow-y: scroll;
    .title {
        text-align: center;
        font-family: $base-font;
        width: 100%;
        font-size: $title-font-size;
    }

    .itemsWrapper{
        height: 100%;
        display: flex;
        width: 1200px;
        flex-wrap: wrap;
        padding: 100px 0;
        justify-content: space-around;
    }

}