@import '../../styles/variables';

.container {

    .top {
        display: flex;
        justify-content: space-between;

        .title {
            font-family: $reg-font;
            font-weight: 900;
            font-size: $title-font-size;

            span {
                background-color: $secondary-color;
            }
        }

        button {
            padding: 10px 21px;
        }
    }


    .user_data {
        display: flex;

        .info {

            &_title {
                font-family: $reg-font;
                font-size: $med-font-size;
                color: $secondary-font-color;
            }

            .user {
                display: flex;
                align-items: center;

                p {
                    font-family: $reg-font;
                    font-size: $med-font-size;
                    font-weight: $black-weight
                };
            }

            .email {
                font-family: $reg-font;
                font-size: $main-font-size;
            }
        }

        .orders {

            &_title {
                font-family: $reg-font;
                font-size: $med-font-size;
                color: $secondary-font-color;
            }
        }
    }
}