@import '../../styles/variables';

.container {

    .top {
        display: flex;
        justify-content: space-between;
        
        .title {
            font-family: $reg-font;
            font-weight: 900;
            font-size: $title-font-size;
    
            span {
                background-color: $secondary-color;
            }
        }

        button {
            padding: 10px 21px;
        }
    }


    .user_data {

        .info {

            &_title {}
        }

        .orders {

            &_title {}
        }
    }
}