
.close{
    position: absolute;
    top: 60px;
    // background: #b39696;
    right: 100px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    .line{
        width: 30px;
        height: 2px;
        background-color: white;
        position: relative;
        top: 10px;
    }

    .fstLine{
        transform: rotate(90deg);
        top: 8px;
    }
}