@import '../../styles/variables';

.container {
    display: flex;

    .verification {
        width: 50%;

        .to_shop {
            font-family: $reg-font;
            font-size: $main-font-size;
            text-decoration: none;

            display: flex;
            padding-bottom: 71px;

            span {
                display: block;
                align-items: center;

                color: $secondary-font-color;

                &:nth-child(1) {
                    margin-top: -1px;
                }
            }
        }

        .info {
            font-family: $reg-font;
            font-size: $main-font-size;
        }

        .subtext {
            font-family: $reg-font;
            font-size: $main-min-font-size;
            color: $secondary-font-color;
        }

        button {
            font-family: $reg-font;
            font-size: 24px;

            padding: 14px 36px;
        }
    }

    .img {
        width: 50%;
        display: flex;
        justify-content: center;
    }
}